
<div class="container">
  <h2 class="mt-3">会員一覧</h2>
  <div class="row mt-4">
    <div class="col-md-10 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id), style: "color: #212529; text-decoration: underline;" %></td>
            <td><%= customer.email %></td>
            <td>
                <% if customer.is_deleted == nil %>
                    有効
                  <% else %>
                    退会
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>
