<div class="container mt-5">
  <div class="text-center">
  <p>ご注文ありがとうございました。</p>
  <p>商品は入金が確認しだい、順次ご発送いたします。</p>
  <p>詳細につきましては<a href="/customer">マイページ</a>にてご確認お願いします。</p>
  <p>またのご利用を心よりお待ちしております。</p>
  </div>
</div