<div class='container my-5 px-sm-2'>

<!--ジャンル検索-->
<div class='row'>
  <div class="col-md-2">
    <table class="table">
    <thead>
        <tr>
            <th>ジャンル検索</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>ケーキ</td></tr>
        <tr><td>焼き菓子</td></tr>
        <tr><td>プリン</td></tr>
        <tr><td>キャンディ</td></tr>
    </tbody>
</table>
  </div>

  <div class="col-md-3">
    <%= image_tag(@item.image,class:"img-fluid") %>
  </div>

  <div class="col-md-7 ">
    <div class="row">
      <div class="col-sm-12">
        <h3><%= @item.name %></h3>
        <h5><%= @item.introduction %></h5>
        <h4>¥<%= @item.price %>(税込み)</h4>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-3 d-flex flex-column">




      </div>
    </div>

</div>
</div>
</div>



